@import '../../index.scss';

.container {
    @include themify($themes) {
        background-color: themed("bgSoft");
        display: flex;
        width: 100%;
        min-height: 100vh;
        gap: 10px;

        .left {
            flex: 1 1;
        }

        .mid {
            flex: 4 1;
        }

        .right {
            flex: 1 1;
        }

        @include tablet {
            .left {
                display: none;
            }
        }

        @include mobile {
            :where(.left, .right) {
                display: none;
            }
        }
    }
}