@import '../../index.scss';

.wrapperHome {
    @include themify($themes) {
        display: flex;
        justify-content: center;
        padding: 0 50px;
        background-color: themed("bgSoft");
        margin: 0 auto;
        min-height: 100vh;

        .containerHome {
            margin: 10px 0;
            display: flex;
            flex: 2;
            flex-direction: column;
            gap: 20px;
        }

        @include max {
            padding: 0 200px;
        }

        @include laptop {
            padding: 0 100px;
        }

        @include tablet {
            padding: 0 50px;
        }

        @include mobile {
            padding: 0 20px;
        }
    }
}